html {
    box-sizing: border-box;
}

@font-face {
    font-family: Trebuchet; 
    src: url(fonts/trebuchet_ms/Trebuchet MS Regular.ttf);
   }
   
@font-face {
    font-family: nevis; 
    src: url(fonts/Nevis-Bold/nevis.ttf);
   }  

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2,
h3,
p {
   margin: 0;
   padding: 0;
}

body {
    background: url(../images/bg-body.png) no-repeat 50% 0 #0e0e0e;
    font: 12px/1.67 Arial, Helvetica, sans-serif;
    padding: 40px 0;
}

.wrapper {
    width: 100%;
    max-width: 960px; 
    margin: 0 auto;
}

/*-- HEADER BEGIN --*/

.mainheader {
    position: relative;
    background: #fff;
    height: 97px;
    border-radius: 7px 7px 0 0;    
}

.mainheader h1 {
    position: absolute;
    margin: 30px 0 0 40px;    
}

.headhesive {
    position: absolute;
    width: 100%;
    max-width: 960px;  
    left: 50%;
    margin-left: -480px;    
    z-index: 110;
    top: -57px;    
    transform: translateY(100%);
}

.headhesive--stick {  
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -480px;    
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.5s ease;
    transform: translateY(0);
}




.tel {
    background: url(../images/bg-tel.png) no-repeat 0 0;
    padding: 3px 27px 3px 90px;
    font-size: 18px;
    font-weight: bold;
    color: #c0c0c0;
    float: right;
}

.navbar-nav {    
    margin-right: -28px;
    margin-top: 7px;     
}

.navbar-default {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.navbar-default  .navbar-nav>li>a {   
    color: #808080;
    text-transform: uppercase;
    font-weight: bold;  
    padding: 3px 15px;
    padding-bottom: 1px;
}

.navbar-default  .navbar-nav>li>a:hover {
    color: #fff;     
    padding-bottom: 1px;
}

.navbar {
    float: right;
    clear: right;
}

.navbar-default  .navbar-nav li {
    float: right;
    margin: 10px 15px 0 5px;    
}

.navbar-default  .navbar-nav li a:hover {
    background: url(../images/bg-li-current.gif) repeat-x 0 0;    
    color: #fff;    
    border-radius: 4px;  
}

.navbar-default  .navbar-nav .mainheader__nav a {
    background: url(../images/bg-li-current.gif) repeat-x 0 0;    
    color: #fff;
    border: 1px solid #00224b;
    border-radius: 4px;    
}

/*-- HEADER END --*/

.slider__block {
    background: url(../images/bg-slider.png) no-repeat 0 0;  
    height: 332px;
    padding: 85px 50px 0;
    color: #fff;
    font-size: 29px;
    font-family: Trebuchet;
    line-height: 34px;
    position: relative;
}

.slider__upperceis {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 35px;
    letter-spacing: -2px;
}

.slider__started {
    background: url(../images/arrow.png) no-repeat 95% 60%,
    url(../images/bg-started.gif) repeat-x 0 0;
    font-size:  20px;
    font-weight: bold;
    color: #b90016;
    text-transform: uppercase;
    padding: 17px 50px 11px 25px;
    border-radius: 8px;
}



/*-- SLIDER BEDIN --*/
.flexslider {  
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  float: right;
  width: 398px;
  height: 268px;
  
}


.flexslider ul {
    margin-left: -40px;    
}


.slider__flexsliders {
    width: 444px;   
    height: 317px;
    background: url(../images/bg-sliders.png);
    position: absolute;     
    top: 39px;
    right: 27px;
    z-index: 0;
}


.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {  
  max-height: 260px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}

.carousel li {
  margin-right: 5px;
}

element.style {
    width: 389px;
    margin-right: 0px;
    }
     
    
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;  
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  }
.flex-direction-nav .flex-prev {
  left: -50px;
  text-indent: -9999px;
  background: url(../images/right180.png) repeat-x 0 0; 
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-indent: -9999px;
  background: url(../images/right.png) repeat-x 0 0;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;  
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  }
.flex-control-nav {  
  position: absolute;
  top: -30px; 
  right: 10px;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/*-- SLIDER END --*/

/*-- BLURBS BEGIN --*/

.menu__blurbs {
    background: #ededed;    
    padding: 33px 0 22px 50px;
    border-bottom: 1px solid #ccc;
    height: 125px;
}

.menu__blurbs ul {
    margin-top: -12px;
}

.menu__blurbs li {
    float: left;
    padding: 20px 0 12px 90px;
    width: 33.33%;    
    margin-right: 10px;
}

.menu__blurbs li:first-child {
    margin-left: -40px;     
}

.menu__blurbs h3 {
    font-size: 15px;
    color: #575757;   
}



.many {
    background: url(../images/blumber/many.png) no-repeat 0 50%;
}

.clock {
    background: url(../images/blumber/clock.png) no-repeat 0 50%;
}

.contact {
    background: url(../images/blumber/fone.png) no-repeat 0 50%;
}

/*-- BLURBS END --*/

/*-- ARTICLES BEGIN --*/

.articles__block {
    background: #fff;
    padding: 40px 0 40px 50px;    
}

.articles__blocks {
    float: left;
    width: 33.33%;
}

.articles__blocks p {
    margin: 22px 0;
    padding-right: 40px;
}

.articles__blocks h2 {
    font-size: 25px;
    color: #585858;
    margin-bottom: 24px;
}

.articles__blocks > a {
    background: linear-gradient(to top, #e4e4e4, #fff);
    font-family: nevis;
    font-weight: bold;
    text-transform: uppercase;    
    color: #7e7e7e;
    padding: 8px 17px 8px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.articles__blocks > a:hover {
    background: linear-gradient(to top, #fff, #e4e4e4);
}

.two ul {
    list-style-image: url(../images/arrow-ul.png);
    margin-left: -27px;
    margin-right: 35px;
}

.two li {
    border-bottom: 1px dotted #838383;
    padding: 5px;
    
}

.two li:last-child {
    border-bottom: none;    
}

.two a {
    color: #0f4db6;
}

/*-- ARTICLES END --*/

/*-- FOOTER BEGIN --*/

footer {
    background: url(../images/footer-border-bg.gif) repeat-x #ededed;
    border-radius: 0 0 6px 6px;
}

.footer__top {
    padding: 20px 0 10px 41px;
}

.footer__tops {    
    float: left;
}

.right ul {
    margin-top: 20px;
    margin-left: -40px;
}

.right a {
    color: #4f4f4f;
}

.right {
    width: 20%;
    margin-right: 40px;
}

.center {
    width: 30%;
    margin-right: 80px;    
}

.center p {
    margin-top: 20px;
}

.left {
    width: 35%;
}

.left p {
    margin-top: 10px;
}

.footer__bottom {
    background: url(../images/footer-border-bg.gif) repeat-x #ededed;
    border-radius: 0 0 6px 6px;
    }
    
    
.footer__bottoms {
        float: left;
}
    
.footer__bottoms li {
    float: left;
    padding: 22px 8px;
} 

.copyright {
    width: 60%;
    padding: 25px 0 25px 45px;
}

.socials {
    width: 20%;
    margin: 0;
}

.logo-min {
    width: 20%;
    padding: 22px 40px 0 0;
}

/*-- FOOTER END --*/

@media (max-width:992px) {
    
    .navbar-default .navbar-nav li {    
    margin-right: 3px;
}

.navbar-nav {
    margin-right: -15px;   
}

.container-fluid {    
    margin-right: 10px;    
}

.container__title {
    zoom: 0.8;
}

.articles__blocks {
    float: none;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    border-bottom: 1px dotted #838383;
}

.articles__blocks p {   
    padding-right: 0;
}

.articles__block {
    background: #fff;
    padding: 20px 0 20px;    
}

.two ul {
    list-style-image: url(../images/arrow-ul.png);    
    margin: 0 auto;    
    padding-left: 1px;
    width: 35%;
}

.right,
.center {
    margin-right: 35px;
}

@media (max-width:959px) {
    
  .headhesive {    
    left: 0;
    margin-left: 0;    
}
    
}


}

@media (max-width:768px) {
    
    .navbar-default {
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}
    
 .navbar-default  .navbar-nav li {
    float: none; 
    margin-right: 10px;
    margin-left: 15px;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin: 0;
}


.container-fluid {
    padding: 0;
    margin-right: auto;
    margin-left: auto; 
}

.slider__flexsliders {
    display: none;
}

.slider__block {        
    height: auto;
    padding: 25px 0 25px;    
}

.flexslider {
    display: none;
}

.container__title {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.footer__bottoms {
    float: none;      
}

.copyright {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

.socials {
    width: 40%;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
   
}

.logo-min {
    width: 60%;
    margin: 0 auto;  
    padding-left: 33%;    
    margin-top: 29px;    
}

.menu__blurbs {    
    height: auto;
}

.menu__blurbs li {    
    width: 50%;    
}

.contact {
    margin-left: 20%;
}

}

@media (max-width:600px) {

  .mainheader h1 {    
    margin: 20px 0 0 30px;
}

.right {
    width: 25%;
}

.center {
    width: 45%;
    margin-right: 80px;
}

.left {
    width: 45%;
    margin-top: 10px;
    margin-left: 32%;
}

.contact {
    margin-left: 16%;
}

}


@media (max-width:480px) {

.menu__blurbs ul {
    margin-top: -20px;
    margin-left: -30px;
}

.logo-min {  
    padding-left: 40%;   
}

.socials {   
    margin-right: 40%;
}

.contact {
    margin-left: 10%;
}

}
